#two{
    background-color: orangered;
    background-image: url("Images/sci fiction.jpeg");
}

#four{
    background-color: darkblue;
    background-image: url("Images/drama.jpeg");
}

#eight{
    background-color: green;
    background-image: url("Images/animation.jpeg");
}