{% extends 'layout.html' %}

{% load static %}
{% block body %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>

    <link rel="stylesheet" href="{% static 'style 2.css' %}">
    
</head>
<body>


<h3> Applications and services</h3>
<p>our industry carries many applications and services, most prominently the World Wide Web, including social media, electronic mail, mobile applications, multiplayer online games, Internet telephony, file sharing, and streaming media services.

Most servers that provide these services are today hosted in data centers, and content is often accessed through high-performance content delivery networks. </p>
<p>Tasmadian tech industry is focused around innovation, creation and growth. our company is the dominating  industry at the moment are based in Kenya and known as the Alpha it has a superstar status for being a leader in revolutionising how we learn, communicate, share information and consume goods. That being said, there are hundreds of thousands of other companies in the world of tech that are either competing directly with these giants (think Adobe, Cisco and IBM) or making waves in their areas of expertise (like Atlassian, Pinterest and Canva).

</p>



</body>
</html>
{% endblock %}
