{% extends 'layout.html' %}

{% load static %}

{% block body %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<h3>Services</h3>

<p>Our services allows you to access huge amount of information such as text, graphics, sound and software over our industry. Following diagram shows the four different categories of Tasmadian tech Services.
Tasmadian_technologies_tutorial</p>

<ol>

    <li>Communication services</li>
    <li>Information retriveal services</li>
    <li>File transfer</li>
    <li>World wide web services</li>
    <li>Web services</li>
    <li>Directory services</li>
    <li>Automatic network address configuration</li>
    <li>Network management services</li>

</ol>





</body>
</html>

{% endblock %}